<!-- _includes/projects.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if project.redirect == blank %}
      <a href="{{ project.url | prepend: site.baseurl }}">
      {% else %}
        {% if project.redirect contains '://' %}
        <a href="{{ project.redirect }}" target="_blank">
        <svg width="2rem" height="2rem" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
          <path d="M17 13.5v6H5v-12h6m3-3h6v6m0-6-9 9" class="icon_svg-stroke" stroke="#999" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        {% else %}
        <a href="{{ project.redirect | relative_url }}">
        {% endif %}
  {% endif %}
      <div class="card hoverable">
        {%- if project.img %}
        <img src="{{ project.img | relative_url }}" alt="project thumbnail">
        {%- endif %}
        <div class="card-body">
          <h2 class="card-title">{{ project.title }}</h2>
          <p class="card-text">{{ project.description }}</p>
          <p class="card-text">{{ project.date | date: '%B %-d, %Y' }}</p>
          <div class="row ml-1 mr-1 p-0">
            {%- if project.github -%}
            <div class="github-icon">
              <div class="icon" data-toggle="tooltip" title="Code Repository">
                <a href="{{ project.github }}"><i class="fab fa-github gh-icon"></i></a>
              </div>
              {%- if project.github_stars -%}
              <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                <i class="fas fa-star"></i>
                <span id="{{ project.github_stars }}-stars"></span>
              </span>
              {%- endif %}
            </div>
            {%- endif %}
          </div>
        </div>
      </div>
    </a>
</div>